**/__pycache__/
*.pyc
macos/build/
macos/dist/
windows/build/
windows/dist/
android/app/build/
android/.gradle/
android/dist/
android/local.properties
linux/dist/
**/LadenOps/bin/
**/LadenOps/obj/
*.p12
*.jks
*.pass
deb-vps
deb-vps.pub
.env
vault.conf
